p {
    font-family: 'Merriweather', serif;
}
h4 {
    font-family: 'Balsamiq Sans', cursive;
}
nav {
    font-family: 'Graduate', cursive;
}
h1 {
    font-family: 'Graduate', cursive;
}
hr {
    height: 2.5px;
    background-color: #000;
    width: 80%;
}
#fundo {
    background-color:#e2e2e2;
}